/* Styles go here, use gulp to minimize before deployment*/

.loading-gif {
    width: 50px;
    height: auto;
}

.ml20 {
    margin-left: 20px;
}

.input-prepend .add-on {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.footer {
    margin-top: 0px !important;
}


.fit-parent{
    width:100%;
}

.no-padding{
    padding: 0;
}

.output{
    padding: 0 5px;
}

.eq-sign{
    padding-top: 5px;
    padding-left: 0px;
    font-size: large;
    font-weight: 600;
}

@media screen and (min-width: 800px) {
    .panel-exchange{
        width:800px;
    }
    .no-padding-sm{

    }
    .no-padding-md{
        padding: 0;
    }
}

@media screen and (max-width: 800px) {
    .panel-exchange{
        width: 100%;
    }
    .no-padding-sm{
        padding: 0;
    }
    .no-padding-md{

    }
}