    <br>
    <br>
    <p><b>Please input a numeric value and select from source and target currency drop downs to get the output:</b></p><br>
    <div class="row panel-exchange">
        <div class="col-md-6">
            <div class="col-md-offset-1 col-md-4 no-padding"><!--   placeholder="input value"-->
                <input type="text" ng-model="inputValue"    class="fit-parent form-control" ng-change="updateResult()">
                <!--input type="number" ng-pattern="/^[a-zA-Z]*$/" ng-model="inputValue"    class="fit-parent form-control" ng-change="updateResult()"-->
            </div>
            <div class="col-md-7  no-padding-sm">
                <select  ng-model="selectedCurrencyFromId"  id="currency_from"  ng-change="onCurrencyFromChange()" data-placeholder="please select input currency" class="form-control">
                    <option ng-repeat="currency in from_currencies" value="{{currency.symbol}}" >{{currency.country}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 no-padding-md">
            <div class="col-md-1 eq-sign">=</div>
            <div class="col-md-4  no-padding">
                <input placeholder="output value" disabled="disabled" ng-model="outputValue"  class="fit-parent form-control output">
            </div>
            <div class="col-md-7  no-padding-sm">
                <select  ng-model="selectedCurrencyToId"  id="currency_to"  ng-change="onCurrencyToChange()" data-placeholder="please select output currency" class="form-control">
                    <option ng-repeat="currency in to_currencies" value="{{currency.symbol}}" >{{currency.country}}</option>
                </select>
            </div>
        </div>
    </div>
